/*FOOTER*/
.footer {
  width: 100%;
  height: 400px;
  background-color: black;
  color: #ffffff;
  font-family: roboto;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  bottom: 0px;
}

.footer-container {
  width: 75%;
  display: flex;
  justify-content: space-around;
  margin-top: 40px;
  padding-bottom: 30px;
  border-bottom: 2px solid #ffffff;
}

.footer-logo {
  width: 300px;
}

.footer-logo p {
  padding-top: 10px;
  font-size: 20px;
  opacity: 0.9;
}

.footer-logo img {
  width: 200px;
}

.footer-nav li {
  list-style: none;
  font-size: 20px;
  padding-top: 10px;
  opacity: 0.9;
}

.social p {
  font-size: 20px;
  font-weight: bold;
  padding: 6px;
  padding-left: 11px;
}

.social-download {
  width: 400px;
  display: flex;
  justify-content: space-between;
}

.social-download img {
  width: 200px;
}

.appStore {
  padding-top: 6px;
}

.social-media {
  display: flex;
  justify-content: space-between;
  width: 180px;
}

.social-media img {
  width: 55px;
  padding-left: 11px;
}

.copyright {
  margin-top: 30px;
  font-size: 15px;
}
