/* LOGIN */
.home__login {
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
}

.home__signup {
  height: 470px;
  margin: 0px 50px 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
}

.home__login img {
  width: 200px;
  margin-top: 10px;
}

.home__signup img {
  width: 200px;
}

.home__form {
  height: 300px;
  margin: 10px 50px;
  display: flex;
  flex-direction: column;
}

.home__signup__form {
  height: 600px;
  padding-top: 5px;
  display: flex;
  flex-direction: column;
}

.home__signup__form div {
  padding-top: 30px;
  color: rgba(173, 166, 166, 1);
  font-size: large;
  font-family: roboto;
}

.home__signup__form input {
  margin-top: 10px;
  width: 300px;
  height: 40px;
  padding-left: 5px;
  background-color: #ece7e7;
  border: none;
  border-radius: 5px;
}

.home__form div {
  padding-top: 30px;
  color: rgba(173, 166, 166, 1);
  font-size: large;
  font-family: roboto;
}

.home__form input {
  margin-top: 10px;
  width: 300px;
  height: 40px;
  background-color: #ece7e7;
  border: none;
  border-radius: 5px;
}

.home__form__submit {
  margin-top: 50px;
  padding: 10px;
  font-family: roboto;
  font-size: medium;
  border: none;
  border-radius: 5px;
  color: #ece7e7;
  background-color: #fe024e;
}

.home__login__redirect {
  padding: 40px;
  font-family: roboto;
  color: #8c8989;
  font-size: medium;
}

.redirect__signup {
  cursor: pointer;
  color: #fe024e;
}

.home__login__btn {
  padding: 2px;
  border: none;
  background-color: white;
  color: #8c8989;
  font-family: roboto;
  font-size: x-large;
  margin-left: 370px;
  margin-top: 2px;
}

/* RESPONSIVE */
@media screen and (max-width: 450px) {
  .home__signup__form input {
    margin-top: 10px;
    width: 200px;
    height: 40px;
    padding-left: 5px;
    background-color: #ece7e7;
    border: none;
    border-radius: 5px;
  }

  .home__form input {
    margin-top: 10px;
    width: 200px;
    height: 40px;
    background-color: #ece7e7;
    border: none;
    border-radius: 5px;
  }
}
